<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
  >
    <a href="index" class="logo d-flex align-items-center">
      <h1 class="sitename">Pilkupil</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a class="nav-link" href="index#hero">Home</a></li>
        <li><a class="nav-link" href="index#about">About</a></li>
        <li><a class="nav-link" href="index#resume">Resume</a></li>
        <li><a class="nav-link" href="index#skills">Skills</a></li>
        <li><a class="nav-link" href="index#portfolio">Portfolio</a></li>
        <li><a class="nav-link" href="index#contact">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
